@font-face {
    font-family: 'CustomFont';
    src: url('assets/Antique-Olive-Std-Nord_3868.ttf') format('truetype');
}

:root {
    --landing-page-background-color: black;
    --artworks-background-color: white;
    --text-color: white;
    scroll-behavior: smooth;
}

body {
    background-color: var(--landing-page-background-color);
    color: var(--text-color);
    font-family: CustomFont, sans-serif;
}

.header-not-at-top {
    header {
        filter: invert(1);
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    position: fixed;
    top: 2rem;
    width: 100%;
    z-index: 1;
    transition: filter 0.5s;


    img {
        width: 5rem;
        margin-bottom: 1rem;
    }

    h1,
    p {
        font-size: 0.8rem;

    }
}


.links {
    position: fixed;
    top: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        display: grid;
        justify-content: center;
        list-style: none;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    img {
        width: 10rem;
    }

    h2 {
        font-size: 0.8rem;
        color: var(--text-color);
        text-transform: uppercase;
    }
}

.link--artworks:hover img {
    content: url('assets/artworks.webp');
}

.link--book:hover img {
    content: url('assets/book.webp');
}

.link--noises:hover img {
    content: url('assets/noises.webp');
}

.link--band:hover img {
    content: url('assets/band.webp');
}

.artworks {
    display: grid;
    margin-top: 100vh;
    position: relative;
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: var(--artworks-background-color);
    padding: 1rem;

    img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    header {
        img {
            width: 9rem;
        }

        h1,
        p {
            font-size: 1.1rem;
        }
    }

    .links {
        top: 25rem;

        ul {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .link {
        img {
            width: 27rem;
        }

        h2 {
            font-size: 1.1rem;
        }
    }

    .artworks {
        grid-template-columns: repeat(2, 1fr);
    }
}