@font-face {
    font-family: 'CustomFont';
    src: url('assets/Antique-Olive-Std-Nord_3868.ttf') format('truetype');
}

:root {
    --landing-page-background-color: black;
    --artworks-background-color: white;
    --text-color: white;
    scroll-behavior: smooth;
}

body {
    background-color: var(--landing-page-background-color);
    color: var(--text-color);
    font-family: CustomFont, sans-serif;
    padding-top: 2rem;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    height: calc(100vh - 2rem);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.home img {
    width: 5rem;
    margin-bottom: 1rem;
}

.home h1, .home p {
    font-size: 0.8rem;
}

.home a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.8rem;
}

.links {
    display: grid;
    justify-content: center;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.link img {
    width: 10rem;
}

.link h2 {
    font-size: 0.8rem;
    color: var(--text-color);
    text-transform: uppercase;
}

.link--artworks:hover img {
    content: url('assets/artworks.webp');
}

.link--book:hover img {
    content: url('assets/book.webp');
}

.link--noises:hover img {
    content: url('assets/noises.webp');
}

.link--band:hover img {
    content: url('assets/band.webp');
}

.artworks {
    display: grid;
    margin-top: calc(100vh - 2rem);
    position: relative;
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: var(--artworks-background-color);
    padding: 1rem;
}

.artworks img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .home {
        margin-bottom: 7rem;
    }

    .home img {
        width: 9rem;
    }

    .home h1,
    .home p {
        font-size: 1.1rem;
    }

    .links {
        grid-template-columns: repeat(4, 1fr);
    }

    .link img {
        width: 27rem;
    }

    .link h2 {
        font-size: 1.1rem;
    }

    .artworks {
        grid-template-columns: repeat(2, 1fr);
    }
}